@font-face {
  font-family: 'gm';
  src: url("fonts/Gilroy-Medium.woff2") format('woff2'), url("fonts/Gilroy-Medium.woff") format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'gr';
  src: url("fonts/Gilroy-Regular.woff2") format('woff2'), url("fonts/Gilroy-Regular.woff") format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'gsb';
  src: url("fonts/Gilroy-SemiBold.woff2") format('woff2'), url("fonts/Gilroy-SemiBold.woff") format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'nsb';
  src: url("fonts/NotoSerif-Bold.woff2") format('woff2'), url("fonts/NotoSerif-Bold.woff") format('woff');
  font-display: swap;
}
.popup {
  border: 3px solid #393a3b;
  background-color: #fff;
  padding: 20px 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 5;
  transition: transform 0.3s;
  box-shadow: 0 0 0 100vw rgba(0,0,0,0.533);
  max-width: calc(100% - 5px);
}
.popup.popup-opened {
  transform: translate(-50%, -50%) scale(1);
}
.search-popup-input,
.reg-popup-input {
  border: 1px solid #d6d6d6;
  padding: 5px;
}
.search-popup-input:focus,
.reg-popup-input:focus {
  border-color: #393a3b;
}
.search-popup-btn,
.reg-popup-btn {
  background-color: #393a3b;
  border: 1px solid;
  color: #fff;
  margin-top: 30px;
}
.search-popup-btn:hover,
.reg-popup-btn:hover,
.search-popup-btn:focus,
.reg-popup-btn:focus {
  background-color: #fff;
  color: #393a3b;
}
.search-popup-form,
.reg-popup-form {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
}
.close-popup:focus {
  border: 1px solid #393a3b;
}
/*Reset browser styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}
html {
  font-family: sans-serif;
}
body {
  word-wrap: break-word;
  line-height: 1.5;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
input::-ms-clear {
  display: none;
}
button:-moz-focus-inner {
  border: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
input:not([autofocus]):focus::placeholder,
textarea:not([autofocus]):focus::placeholder {
  color: transparent;
}
/**********************/
.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (min-width: 2200px) {
  .container {
    max-width: 1600px;
  }
}
.header-item {
  color: #fff;
  font: 14px gr;
}
@media (max-width: 1106px) {
  .header-item {
    margin: 15px;
    font-size: 18px;
  }
}
.header-item + .header-item {
  margin-left: 40px;
}
@media (max-width: 1106px) {
  .header-item + .header-item {
    margin-left: 15px;
  }
}
.button-wrapper {
  display: none;
}
@media (max-width: 1106px) {
  .button-wrapper {
    display: block;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  width: 100%;
}
nav a:focus,
nav a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
nav button:focus {
  outline: 2px solid #fff;
}
.menu {
  display: flex;
}
@media (max-width: 1106px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    z-index: 2;
    right: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #393a3b;
    overflow: auto;
    transition: right 0.3s;
  }
  .menu.burger-active {
    right: 0;
  }
}
.header-buttons {
  display: flex;
}
.search {
  display: flex;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1106px) {
  .search {
    font-size: 0;
    transform-origin: right;
    transform: scale(1.4);
  }
}
header {
  background-color: #393a3b;
  color: #fff;
  background-size: cover;
  background-position: center;
  padding-bottom: 31px;
}
header .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn {
  padding: 15px 35px;
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 60px;
  font: 18px gm;
  transition: color 0.25s, background-color 0.25s, border-color 0.25s;
}
.logo {
  flex-shrink: 0;
}
@media (max-width: 1106px) {
  .logo {
    margin-right: auto;
  }
}
@media (max-width: 1106px) {
  .logo-img {
    width: 120px;
  }
}
.bread-links {
  margin: 60px 0 54px;
  display: flex;
  justify-content: center;
}
@media (max-width: 569px) {
  .bread-links {
    flex-wrap: wrap;
    margin: 35px 0 35px;
  }
}
.bread-link {
  font: 14px gr;
}
.bread-link:not(:last-child) {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.bread-link:not(:last-child):hover {
  text-decoration: none;
}
.bread-link-wrap .bread-link {
  font: 14px gr;
  cursor: default;
}
.bread-link-wrap:not(:last-child)::after {
  content: '\00A0\00A0\00A0/\00A0\00A0\00A0';
  display: inline-block;
  transform: translateY(0.15em);
}
.bread-link-wrap:not(:last-child) .bread-link {
  text-decoration: underline;
  cursor: pointer;
}
.bread-link-wrap:not(:last-child) .bread-link:hover {
  text-decoration: none;
}
.burger {
  border: none;
  border-radius: 2px;
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
@media (max-width: 1106px) {
  .burger {
    display: flex;
  }
}
.burger span {
  transition: transform-origin 0.3s, transform 0.3s, width 0.3s;
  height: 4px;
  width: 80%;
  background: #fff;
}
.burger span + span {
  margin-top: 4px;
}
.burger.burger-active span {
  transition: transform-origin 0.3s, transform 0.3s, width 0.3s;
  transform-origin: center !important;
}
.burger.burger-active span:nth-child(2) {
  width: 0;
}
.burger.burger-active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger.burger-active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
body.burger-active {
  overflow: hidden;
}
.burger {
  margin-right: 20px;
  position: relative;
  z-index: 3;
}
.burger span {
  border-radius: 2px;
  width: 80%;
}
.burger span:nth-child(2) {
  transform: scaleX(0.6);
  transform-origin: left;
}
.reg:hover,
.reg:focus {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
h1 {
  font: 24px gm;
  color: #393a3b;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 59px;
  border-bottom: 1px solid #d6d6d6;
}
@media (max-width: 1106px) {
  .wrapper {
    flex-wrap: wrap;
    max-width: 500px;
    margin: 40px auto 0;
    grid-gap: 25px;
  }
}
@media (max-width: 569px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact-square {
  display: flex;
}
.contact-square svg {
  flex-shrink: 0;
  transform: translateY(2px);
}
@media (max-width: 569px) {
  .contact-square svg {
    display: none;
  }
}
.contact-square-child {
  margin-left: 14px;
}
.contact-links a {
  display: block;
  font: 14px gr;
  text-decoration-skip-ink: none;
}
.contact-links a:hover {
  text-decoration: underline;
}
.contact-links a + a {
  margin-top: 15px;
}
.contact__caption {
  margin-bottom: 15px;
  font: 18px gsb;
}
iframe {
  width: 100%;
  height: 750px;
  max-height: 99vh;
}
footer {
  padding: 80px 0 20px;
}
@media (max-width: 1106px) {
  footer {
    padding-top: 35px;
  }
}
h3 {
  font: 18px gm;
  text-transform: uppercase;
  border-bottom: 1px solid;
  color: #393a3b;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.useful-link {
  margin-top: 10px;
}
.contacts .useful-link {
  display: flex;
  align-items: center;
}
.useful-link-item {
  font: 14px gr;
  color: #393a3b;
}
.useful-link-item:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.contacts .useful-link-item {
  margin: 0 0px 0 15px;
}
.cell-desc {
  line-height: 1.5;
  margin-bottom: 25px;
  font: 14px gr;
  color: #393a3b;
}
.footer-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding-bottom: 60px;
  border-bottom: 1px solid #393a3b;
}
@media (max-width: 1106px) {
  .footer-wrap {
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (max-width: 569px) {
  .footer-wrap {
    grid-template-columns: 1fr;
  }
}
.pay-cards {
  display: flex;
}
.pay:not(:first-child) {
  margin-left: 20px;
}
.social {
  display: flex;
}
.social-link {
  transition: transform 0.1s;
  padding: 3px;
}
.social-link:hover {
  transform: scaleX(-1);
  transition: transform 0.25s;
}
.social-link:not(:first-child) {
  margin-left: 19px;
}
.last-links {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1106px) {
  .last-links {
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (max-width: 569px) {
  .last-links {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1106px) {
  .last-link {
    width: 50%;
    text-align: center;
  }
  .last-link:not(:nth-child(-n+2)) {
    margin-top: 15px;
  }
}
@media (max-width: 569px) {
  .last-link:not(:first-child) {
    margin-top: 15px;
  }
}
.figma {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
@media (max-width: 569px) {
  .footer-cell:not(:first-child) {
    margin-top: 20px;
  }
}
