@charset "UTF-8";
/*Reset browser styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  background-repeat: no-repeat;
}
html {
  font-family: sans-serif;
}
body {
  word-wrap: break-word;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
  margin: 0;
}
input,
button {
  font: inherit;
  cursor: pointer;
}
input:focus,
button:focus {
  outline: none;
}
input::-ms-clear {
  display: none;
}
button:-moz-focus-inner {
  border: none;
}
input:not([autofocus]):focus::placeholder {
  color: transparent;
}
/**********************/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: local('Montserrat-ExtraLight'), url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'), url('../fonts/Montserrat-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'), url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: local('Raleway-Bold'), url('../fonts/Raleway-Bold.woff2') format('woff2'), url('../fonts/Raleway-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: local('Raleway-ExtraBold'), url('../fonts/Raleway-ExtraBold.woff2') format('woff2'), url('../fonts/Raleway-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Raleway-Medium';
  src: local('Raleway-Medium'), url('../fonts/Raleway-Medium.woff2') format('woff2'), url('../fonts/Raleway-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Raleway-Regular';
  src: local('Raleway-Regular'), url('../fonts/Raleway-Regular.woff2') format('woff2'), url('../fonts/Raleway-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Raleway-Semibold';
  src: local('Raleway-Semibold'), url('../fonts/Raleway-Semibold.woff2') format('woff2'), url('../fonts/Raleway-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
}
.container {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.layout-container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  transform-origin: top;
  overflow-x: hidden;
}
@media (min-width: 2100px) {
  header .container {
    max-width: 1900px !important;
  }
}
@media (min-width: 2100px) {
  .container {
    max-width: 1900px;
  }
}
*::selection {
  background-color: #998675;
  color: #fff;
}
html {
  font-size: 10px;
}
@media (min-width: 2100px) {
  html {
    font-size: 15px;
  }
}
header .container {
  width: 1200px;
  max-width: 100%;
}
@media (min-width: 2100px) {
  header .container {
    width: 1900px;
  }
}
a {
  text-decoration: none;
  color: #fff;
}
.wc {
  color: #fff;
}
.bc {
  color: #555555;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
nav .search {
  margin-left: 25px;
  transform-origin: left;
}
@media (min-width: 2100px) {
  nav .search {
    transform: scale(1.5);
  }
}
nav svg {
  cursor: pointer;
  fill: #fff;
  transition: fill 0.3s;
}
nav svg:hover {
  fill: #998675;
}
.menu {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.menu a {
  font-size: 1.6rem;
  transition: color 0.3s;
  font-family: Raleway-Semibold;
}
.menu a:hover {
  color: #998675;
}
.menu a:last-child {
  padding-left: 3.5rem;
  transform-origin: right;
}
.menu a:last-child span {
  display: none;
}
@media (min-width: 2100px) {
  .menu a:last-child {
    transform: scale(1.5);
  }
}
.menu a + a {
  margin-left: 2.6rem;
}
.logo {
  display: flex;
  align-items: center;
}
.logo span {
  font-size: calc(28px + 6 * ((100vw - 320px) / (1920 - 320)));
  font-family: Raleway-Regular;
}
.logo svg:hover {
  fill: #fff;
}
header {
  overflow: hidden;
  background-color: #241d1a;
  padding: 40px 0 38px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
header .container {
  z-index: 2;
}
.header-slider {
  height: 70%;
}
.header-background {
  position: absolute;
  transform-origin: top left;
  transform: scale(1.23) translateX(0%);
  transition: transform 550ms;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0%;
  z-index: 0;
  background-image: url(../img/photomainbg.jpg);
  background-size: cover;
}
@media (max-width: 600px) {
  .header-background {
    background-image: url(../img/photomainbg-sm.jpg);
  }
}
p {
  font-size: 16px;
  line-height: 1.5;
  font-family: Montserrat-Light;
  color: #646464;
  max-width: 760px;
  margin: 0 auto;
  line-height: 1.75;
  text-align: center;
  margin-top: -10px;
}
.wc p {
  color: #fff;
}
body.burger-active {
  overflow: hidden;
}
.burger {
  display: block;
  border: none;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.burger span {
  height: 3px;
  width: 80%;
  background: #fff;
}
.burger span + span {
  margin-top: 4px;
}
.burger.burger-active span {
  transform-origin: center;
}
.burger.burger-active span:nth-child(2) {
  width: 0;
}
.burger.burger-active span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.burger.burger-active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.burger {
  display: none;
}
.h-cap {
  font-size: 36px;
  font-family: Raleway-Medium;
}
@media (min-width: 2100px) {
  .h-cap {
    font-size: 42px;
  }
}
.h {
  font-size: 52px;
  font-family: Raleway-ExtraBold;
}
@media (min-width: 2100px) {
  .h {
    font-size: 65px;
  }
}
.slick-slide:focus {
  outline: none;
}
.slick-track {
  display: flex;
}
.slick-track a {
  outline: none;
}
.slick-list {
  overflow: hidden;
}
.slick-dots {
  display: flex;
  cursor: pointer;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
}
.slick-dots li {
  background-color: rgba(200, 199, 199, 0.52);
  transition: border 0.3s, transform 0.3s, background-color 0.3s;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
}
.slick-dots li button {
  border: none;
}
.slick-dots li.slick-active {
  border: 2px solid #d3c1ad;
  transform: scale(1.3);
  background-color: transparent;
}
.slick-dots li + li {
  margin-left: 10px;
}
.header-slider {
  position: relative;
  width: 1630px;
  max-width: 98%;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}
.header-slider .slick-arrow {
  border: none;
  position: absolute;
  background-color: transparent;
  font-size: 0;
  height: 76px;
  width: 41px;
  top: 18%;
  z-index: 1;
}
.header-slider .slick-arrow.slick-prev {
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='72.938'%3E%3Cdefs%3E%3Cfilter id='f' x='150' y='475.031' width='40' height='72.938' filterUnits='userSpaceOnUse'%3E%3CfeComposite result='composite' operator='in' in2='SourceGraphic'/%3E%3CfeBlend result='blend' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cpath d='M188.026 547.979L150.005 511.5l38.021-36.48 1.969 2-35.929 34.48L190 545.977z' transform='translate(-150 -475.031)' fill='%23998675' fill-rule='evenodd' filter='url(%23f)'/%3E%3C/svg%3E%0A");
}
.header-slider .slick-arrow.slick-prev.slick-disabled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='72.938'%3E%3Cdefs%3E%3Cfilter id='f' x='150' y='475.031' width='40' height='72.938' filterUnits='userSpaceOnUse'%3E%3CfeComposite result='composite' operator='in' in2='SourceGraphic'/%3E%3CfeBlend result='blend' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cpath d='M188.026 547.979L150.005 511.5l38.021-36.48 1.969 2-35.929 34.48L190 545.977z' transform='translate(-150 -475.031)' fill='%23a3a2a0' fill-rule='evenodd' filter='url(%23f)'/%3E%3C/svg%3E%0A");
}
.header-slider .slick-arrow.slick-next {
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='72.938'%3E%3Cdefs%3E%3Cfilter id='c' x='1730' y='475.031' width='40' height='72.938' filterUnits='userSpaceOnUse'%3E%3CfeComposite result='composite' operator='in' in2='SourceGraphic'/%3E%3CfeBlend result='blend' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cpath d='M1731.97 547.979L1770 511.5l-38.03-36.48-1.97 2 35.93 34.476-35.93 34.481z' transform='translate(-1730 -475.031)' fill='%23998675' fill-rule='evenodd' filter='url(%23c)'/%3E%3C/svg%3E%0A");
}
.header-slider .slick-arrow.slick-next.slick-disabled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='72.938'%3E%3Cdefs%3E%3Cfilter id='c' x='1730' y='475.031' width='40' height='72.938' filterUnits='userSpaceOnUse'%3E%3CfeComposite result='composite' operator='in' in2='SourceGraphic'/%3E%3CfeBlend result='blend' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cpath d='M1731.97 547.979L1770 511.5l-38.03-36.48-1.97 2 35.93 34.476-35.93 34.481z' transform='translate(-1730 -475.031)' fill='%23a3a2a0' fill-rule='evenodd' filter='url(%23c)'/%3E%3C/svg%3E%0A");
}
.header-slider p {
  font-family: Montserrat-Light;
  max-width: 580px;
  margin: 0 auto;
  color: #fff;
  font-size: 15px;
}
.header-slide {
  margin: 0 auto;
}
.header-slide p {
  max-width: 650px;
}
.header-slide .btn {
  margin: 30px auto 0;
}
.btn {
  display: block;
  border-radius: 4px;
  width: 170px;
  padding: 15px 10px;
  font-size: 15px;
  text-align: center;
  font-family: Raleway-ExtraBold;
  text-transform: uppercase;
  background-color: #998675;
  transition: background-color 0.3s, color 0.3s, border-bottom 0.3s, transform 0.3s;
  border-bottom: 3px solid #7e6d5d;
}
.btn:hover {
  background-color: #362720;
  color: #c7b299;
  border-bottom-color: #16100d;
}
.btn:active {
  border-bottom-color: transparent;
  transform: translateY(3px);
}
@media (max-width: 1023px) {
  .menu {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    overflow-y: auto;
    background-color: rgba(65, 45, 35, 0.95);
    transition: right 0.2s;
    z-index: 12;
    text-transform: uppercase;
  }
  .menu a {
    display: block;
    letter-spacing: 2px;
    margin-left: 15px;
    text-align: right;
    font-size: 19px;
    margin-top: 10px;
  }
  .menu a:last-child {
    margin-left: -20px;
  }
  .menu a:last-child svg {
    display: none;
  }
  .menu a:last-child span {
    display: inline;
  }
  .menu a + a {
    margin-left: 15px;
  }
  .menu.burger-active {
    right: 0;
  }
  .burger {
    display: flex;
    z-index: 13;
    right: 100%;
    top: 15px;
    transition: right 0.3s;
  }
  .burger.burger-active {
    position: fixed;
    top: 15px;
    right: 15px;
    transition: right 0.2s;
  }
}
@media (max-width: 600px) {
  .h-cap {
    font-size: 21px;
    line-height: 1.2;
  }
  .h {
    font-size: 28px;
    line-height: 1.2;
  }
  header {
    padding: 10px 0;
  }
  header p {
    line-height: 1.5;
  }
  .header-slider p {
    margin-top: 10px;
  }
  .header-slide .btn {
    margin-top: 10px;
  }
  .logo {
    margin-left: 25px;
  }
  .logo span {
    display: none;
  }
}
@media (max-height: 500px) {
  .h-cap {
    font-size: 21px;
    line-height: 1.2;
  }
  .h {
    font-size: 30px;
    line-height: 1.1;
  }
  header {
    padding: 10px 0;
  }
  header p {
    line-height: 1.3;
  }
  .header-slider p {
    font-size: 14px;
  }
  .header-slide .btn {
    padding: 7px 7px;
    margin-top: 8px;
  }
}
@media (min-width: 2100px) {
  .header-slider p {
    font-size: 20px;
  }
}
.popup-wrap {
  z-index: -8;
  width: 400px;
  height: 400px;
  max-width: 95%;
  max-height: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-wrap.opened {
  z-index: 14;
}
.popup-bg {
  background-color: transparent;
  position: fixed;
  z-index: -8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.popup-bg.opened {
  background-color: rgba(17, 17, 17, 0.8);
  z-index: 13;
}
.popup {
  width: 100%;
  height: 100%;
  transform: scale(0);
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  transition: border-radius 0.3s, transform 0.3s;
}
.popup .close-popup {
  width: 40px;
  height: 40px;
  position: absolute;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  color: #998675;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.popup.opened {
  border-radius: 12px;
  transform: scale(1);
}
@media (min-width: 2100px) {
  .popup.opened {
    transform: scale(1.4);
  }
}
.popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.popup form input {
  width: 200px;
  padding: 7px 5px;
  margin-top: auto;
  font-size: 15px;
  border: 2px solid #555;
  border-radius: 2px;
}
.popup form button {
  width: 100px;
  border-radius: 4px;
  background-color: #998675;
  padding: 10px 5px;
  border: none;
  font-size: 15px;
  color: #fff;
  margin-top: 15px;
}
.popup .wrap {
  border: 6px solid #998675;
  height: 100%;
  border-radius: 12px;
}
.popup .logo-popup {
  display: flex;
  justify-content: center;
  transform: scale(0.8);
}
.popup .logo-popup span {
  font-size: 34px;
  font-family: Raleway-Semibold;
  margin-top: 5px;
  color: #998675;
}
.popup svg {
  fill: #998675;
}
.popup svg span {
  color: #998675;
}
@media (max-width: 600px) {
  .popup svg span {
    display: block;
  }
}
.ideas {
  padding-top: 80px;
}
.ideas svg {
  fill: #555;
}
h3 {
  font-family: Raleway-Semibold;
  font-size: 22px;
  transition: color 0.2s;
}
.features {
  display: flex;
  justify-content: space-between;
}
.feature {
  text-align: center;
  flex-basis: 25%;
}
.feature > * {
  transition: 0.3s;
}
.feature + .feature {
  margin-left: 30px;
}
.feature:nth-child(3) {
  display: none;
  width: 100%;
}
.feature:after {
  content: '';
  display: block;
  transition: transform 0.2s;
  height: 3px;
  width: 70px;
  background-color: #c7b299;
  margin: 25px auto 0;
  transform: scaleX(0);
}
.feature svg {
  transition: fill 0.2s;
}
html,
body {
  scrollbar-color: #998675 #fff;
  scrollbar-width: auto;
  scrollbar-track-color: #fff;
  scrollbar-base-color: #998675;
  scrollbar-arrow-color: #fff;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 15px;
  background-color: #fff;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #998675;
}
@media (max-width: 1023px) {
  .feature:nth-last-child(2),
  .feature:last-child {
    margin-top: 20px;
  }
  .features {
    flex-wrap: wrap;
  }
  .feature {
    flex-basis: 46%;
  }
  .feature:nth-child(3) {
    display: block;
    flex-basis: 100%;
  }
  .feature:nth-child(4) {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .feature {
    flex-basis: 100%;
  }
  .feature + .feature {
    margin-left: 0;
    margin-top: 20px;
  }
  .feature p {
    margin-top: -10px;
  }
  .feature h3 {
    margin-top: 0px;
  }
  .feature:nth-child(3) {
    display: none;
  }
  .ideas {
    padding-top: 40px;
  }
}
.show-op {
  opacity: 0;
  transform-origin: top;
  transform: scaleX(0);
  transition: transform 0.8s, opacity 0.8s;
}
.show-op.anim-active {
  opacity: 1;
  transform: scaleX(1);
}
.feature:hover svg {
  fill: #c7b299;
}
.feature:hover h3 {
  color: #c7b299;
}
.feature:hover:after {
  transform: scaleX(1);
}
.realiz {
  text-align: center;
  margin-top: 140px;
  padding-bottom: 524px;
  background-position: bottom 0 left 50%, bottom 0 left 810px, bottom 0 right 810px;
}
@media (max-width: 1023px) {
  .realiz {
    margin-top: 60px;
  }
}
@media (max-width: 600px) {
  .realiz {
    padding-bottom: 20px;
  }
}
.realiz.lazy-bg {
  background-image: url(../img/cenimg.jpg), url(../img/limg.jpg), url(../img/rimg.jpg);
}
@media (max-width: 1023px) {
  .realiz.lazy-bg {
    background-image: url(../img/cenimg.jpg);
  }
}
@media (max-width: 600px) {
  .realiz.lazy-bg {
    background-image: none;
  }
}
.webp .realiz.lazy-bg {
  background-image: url(../img/cenimg.webp), url(../img/limg.webp), url(../img/rimg.webp);
}
@media (max-width: 1023px) {
  .webp .realiz.lazy-bg {
    background-image: url(../img/cenimg.webp);
  }
}
@media (max-width: 600px) {
  .webp .realiz.lazy-bg {
    background-image: none;
  }
}
h2 {
  font-family: Raleway-Semibold;
  font-size: 30px;
  text-align: center;
}
.wp {
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 50px 0;
}
.wp span {
  color: #c7b299;
}
.wp .wp-theme {
  font: 28px Raleway-Regular;
}
.wp .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wp .wp-caption {
  font: 18px Raleway-Semibold;
  color: #615855;
  margin-top: 5px;
}
@media (max-width: 1023px) {
  .wp .container {
    flex-direction: column;
  }
  .wp-theme,
  .wp-caption {
    text-align: center;
  }
  .wp .btn {
    margin-top: 20px;
  }
  .wp {
    padding: 20px 0;
  }
}
.show-transp {
  opacity: 0;
  transition: opacity 0.8s;
}
.show-transp.anim-active {
  opacity: 1;
}
.filter-bar {
  display: flex;
  font-size: 15px;
  justify-content: center;
  margin: 30px 0 30px;
}
@media (max-width: 1023px) {
  .filter-bar {
    flex-wrap: wrap;
  }
}
.filter-bar button {
  background-color: transparent;
  margin-top: 5px;
  border: none;
  padding: 7px 25px;
  outline: none;
  color: #646464;
  font-family: Raleway-Medium;
}
.filter-bar button.focus-filter {
  background-color: #998675;
  color: #fff;
  border-radius: 4px;
}
.img-wrap {
  position: relative;
}
.img-wrap img {
  width: 100%;
}
.img-wrap .figure-link:first-of-type {
  transform: translateX(-170%);
  opacity: 0;
}
.img-wrap .figure-link:last-of-type {
  transform: translateX(60%);
  opacity: 0;
}
.darker-bg {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: background-color 0.25s;
}
figcaption {
  padding: 30px 28px 26px;
  transition: background-color 0.25s;
  background-color: #fff;
  position: relative;
}
@media (max-width: 1023px) {
  figcaption {
    padding: 15px;
  }
}
figcaption:before {
  content: '';
  transition: border-color 0.25s;
  position: absolute;
  top: -10px;
  left: 20px;
  z-index: 3;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 10px 15px;
  border-color: transparent transparent #fff transparent;
}
.photo-name {
  font-size: 20px;
  color: #C1A685;
  font-family: Raleway-Medium;
  transition: color 0.25s;
}
@media (max-width: 1023px) {
  .photo-name {
    font-size: 17px;
  }
}
.genre {
  color: #646464;
  font-size: 15px;
  font-family: Montserrat-Light;
}
figure:hover figcaption {
  background-color: #362f2d;
}
figure:hover figcaption:before {
  border-color: transparent transparent #362f2d transparent;
}
figure:hover .darker-bg {
  background-color: rgba(0, 0, 0, 0.65);
}
figure:hover .photo-name {
  color: #fff;
}
figure:hover .post-cap {
  color: #C1A685;
}
figure:hover .post-desc {
  color: #fff;
}
figure:hover .date .day {
  background-color: #c7b299;
}
figure:hover .date .month {
  background-color: #a48d72;
}
figure:hover .genre {
  color: #C1A685;
}
figure:hover .img-wrap .figure-link {
  opacity: 1;
}
.filter-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.figure-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: opacity 0.25s;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.figure-link:hover svg {
  fill: #C1A685;
}
.figure-link svg {
  fill: #fff;
  transition: fill 0.25s;
}
.touchscreen .img-wrap {
  position: static;
}
.touchscreen .img-wrap .figure-link {
  opacity: 1;
}
.touchscreen .img-wrap .figure-link:first-of-type {
  transform: translate(-100%, -100%);
}
.touchscreen .img-wrap .figure-link:last-of-type {
  transform: translate(60%, -100%);
}
.touchscreen .darker-bg {
  display: none;
}
.touchscreen .filter-slider figure {
  position: relative;
}
.touchscreen .post-desc {
  color: #fff;
}
.touchscreen .post-cap {
  color: #C1A685;
}
.touchscreen .figure-link {
  top: 99%;
  left: 37px;
}
.touchscreen figcaption {
  padding: 7px 10px 40px;
  background-color: #362f2d;
}
.touchscreen figcaption:before {
  border-color: transparent transparent #362f2d transparent;
}
.touchscreen .photo-name {
  color: #fff;
}
.touchscreen .genre {
  color: #C1A685;
}
figure {
  flex-basis: 30.62%;
  margin: 10px;
}
@media (max-width: 1023px) {
  figure {
    flex-basis: 45.82%;
    margin: 10px;
  }
}
@media (max-width: 600px) {
  figure {
    flex-basis: 100%;
    margin: 10px 0;
  }
}
.show-scale {
  border-radius: 50%;
  transform: scale(0);
  transition: border-radius 0.8s, transform 0.8s;
}
.show-scale.anim-active {
  border-radius: 0%;
  transform: scale(1);
}
.latest {
  padding: 35px 0 70px;
}
@media (max-width: 1023px) {
  .latest {
    padding: 10px 0 20px;
  }
}
.latest .btn {
  margin: 50px auto 0;
}
@media (max-width: 1023px) {
  .latest .btn {
    margin: 10px auto 5px;
  }
}
video {
  max-height: 700px;
  width: 100%;
}
video:focus {
  outline: none;
}
.video {
  background-color: #211b19;
  display: flex;
  justify-content: center;
  position: relative;
}
.video-bg {
  background-color: #000;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-color: #998675;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video-bg .info {
  width: 45px;
  height: 45px;
  padding: 6px;
  cursor: pointer;
  margin-top: 10px;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.video-bg .info .circle {
  border: 2px solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-family: Times;
  font-weight: bold;
}
.video-bg .info .circle span {
  margin-top: 1px;
}
.video-bg .info svg {
  width: 30px;
  transform: translate(2.5px, 2.5px);
}
@media (max-width: 600px) {
  .video-bg .info {
    display: block;
    z-index: -1;
  }
  .video-bg .video-desc-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: #998675;
    transform-origin: bottom;
    transform: scaleY(0) scaleX(0.2);
    opacity: 0;
    overflow-y: scroll;
    transition: opacity 0.3s, transform 0.3s;
  }
  .video-bg .video-desc-wrap.opened {
    transform: scale(1);
    opacity: 1;
  }
  .video-bg h2 {
    font-size: 19px;
  }
  .video-bg p {
    font-size: 15px;
  }
  .video-bg .play {
    width: 70px;
    height: 70px;
    z-index: 0;
  }
  .video-bg .play svg {
    transform: scale(0.8);
  }
}
.video-bg .play {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  z-index: 77;
  width: 100px;
  height: 100px;
  display: flex;
  cursor: pointer;
}
.video-bg .play:hover svg {
  fill: #998675;
}
.video-bg svg {
  fill: #fff;
  transition: fill 0.25s;
  margin: auto;
}
.video-bg p {
  max-width: 570px;
  font-family: Raleway-Medium;
  letter-spacing: 0.5px;
}
.video-bg time {
  font-size: 14px;
  font-family: Montserrat-Light;
  color: #c7b299;
  font-weight: bold;
  margin-top: 30px;
}
@media (max-width: 600px) {
  .video-bg time {
    margin-top: 12px;
    font-size: 15px;
  }
}
.video-bg.lazy-bg {
  background-image: url(../img/videobg.jpg);
}
.webp .video-bg.lazy-bg {
  background-image: url(../img/videobg.webp);
}
.exc {
  background-position: bottom 0px right calc(420px + 44%);
  padding: 170px 0;
}
.exc .lazy-bg {
  background-image: url(../img/iphone.png);
}
@media (max-width: 600px) {
  .exc .lazy-bg {
    background: none;
  }
}
@media (max-width: 1023px) {
  .exc {
    padding: 60px 0;
    background-size: 300px;
    background-position: bottom 0 left 0;
  }
}
@media (max-width: 600px) {
  .exc {
    padding: 20px 0;
  }
  .exc h2,
  .exc p {
    text-align: center;
  }
  .exc ul {
    margin-left: 0;
  }
  .exc ul li p {
    text-align: left;
  }
  .exc ul li {
    padding-left: 30px;
  }
}
.exc .text {
  max-width: 660px;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: content-box;
  border: 9px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.exc ul {
  margin: 30px 0 0 45px;
}
.exc ul li {
  padding-left: 55px;
  background-position: top 0% left 0%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21'%3E%3Cdefs%3E%3Cfilter id='mmm' x='925' y='4609' width='21' height='21' filterUnits='userSpaceOnUse'%3E%3CfeComposite result='composite' operator='in' in2='SourceGraphic'/%3E%3CfeBlend result='blend' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cpath data-name='4' d='M935.5 4609a10.5 10.5 0 1010.5 10.5 10.5 10.5 0 00-10.5-10.5zm3.289 11l-4.539 4.53a.7.7 0 01-.99-.98l4.047-4.05-4.047-4.05a.7.7 0 01.99-.99l4.539 4.54a.712.712 0 010 1z' transform='translate(-925 -4609)' fill='%23c7b299' fill-rule='evenodd' filter='url(%23mmm)'/%3E%3C/svg%3E%0A");
}
.exc ul li + li {
  margin-top: 18px;
}
.exc ul li p {
  font-size: 16px;
  font-family: Times;
  transform: translateY(-3px);
}
.exc h2,
.exc p {
  text-align: left;
}
.webp .exc.lazy-bg {
  background-image: url(../img/iphone.webp);
}
@media (max-width: 600px) {
  .webp .exc.lazy-bg {
    background: none;
  }
}
.flex {
  padding: 50px 0;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.flex br {
  display: none;
}
.flex .down {
  display: none;
}
.flex .container {
  display: flex;
  justify-content: center;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review + .review {
  margin-left: 80px;
}
.review-num {
  font: 48px Montserrat-ExtraLight;
  margin: 15px 0 5px;
}
.review-cap {
  font: 15px Montserrat-Light;
  color: #c7b299;
  text-transform: uppercase;
}
.review-cap:after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  margin: 25px auto 0;
  background-color: #fff;
}
.review svg {
  fill: #c7b299;
}
@media (max-width: 1023px) {
  .review {
    flex-basis: 26%;
  }
  .review + .review {
    margin-left: 60px;
  }
  .review:nth-child(4) {
    margin-left: 0;
    margin-top: 30px;
  }
  .review:last-child {
    margin-top: 30px;
  }
  .flex .container {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .review {
    flex-basis: 40%;
    text-align: center;
    margin-top: 30px;
  }
  .review + .review {
    margin-left: 0px;
  }
  .review:nth-child(even) {
    margin-left: 20px;
  }
  .flex br {
    display: block;
  }
}
.readmore span {
  vertical-align: middle;
  padding-left: 4px;
  display: inline-block;
}
.readmore {
  color: #C1A685;
  font-size: 15px;
}
.readmore:hover span {
  animation: move 0.4s linear infinite;
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(6px);
  }
  to {
    transform: translateX(0px);
  }
}
.recent-posts {
  padding: 40px 0 140px;
}
@media (max-width: 1023px) {
  .recent-posts {
    padding: 25px 0 90px;
  }
}
@media (max-width: 1023px) {
  .recent-posts {
    padding: 10px 0 40px;
  }
}
.recent-posts figure {
  max-width: 370px;
}
.recent-posts figcaption:before {
  display: none;
}
.date {
  position: absolute;
  margin: 20px;
  z-index: 6;
  color: #fff;
  width: 50px;
  text-align: center;
}
.date .day {
  background-color: #363636;
  font: 20px Montserrat-Light;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 6px 0;
  transition: background-color 0.25s;
}
.date .month {
  background-color: #252525;
  font: 12px Roboto-Regular;
  padding: 6px 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  transition: background-color 0.25s;
}
.post-cap {
  font: 20px Raleway-Medium;
  transition: color 0.25s;
}
.post-desc {
  font: 15px Montserrat-Light;
  margin: 12px 0 18px;
  transition: color 0.25s;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}
.posts figure + figure {
  margin-left: 16px;
}
.posts figure {
  width: 20px;
}
.post-slider {
  position: relative;
  width: 100%;
}
.post-slider img {
  max-height: 242px;
}
.post-slider .slick-dots {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  figure {
    min-width: 100%;
  }
  .posts figure + figure {
    margin-left: 0;
  }
  .posts figcaption {
    padding: 10px;
  }
  .date {
    margin: 8px;
    width: 40px;
  }
  .date .day,
  .date .month {
    padding: 3px 0;
  }
  .post-slider img {
    max-height: 600px;
  }
  .post-slider {
    min-height: 200px;
  }
}
@media (min-width: 2100px) {
  .posts figure {
    min-width: 500px;
  }
  .post-slider img {
    max-height: 600px;
  }
}
.brand-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 290px;
}
.brands {
  background-size: cover;
  background-color: #998675;
  padding: 135px 0;
}
.brands.lazy-bg {
  background-image: url(../img/photo.jpg);
}
.brands img + img {
  margin-left: 77px;
}
.brands img {
  width: 18.64%;
}
.webp .brands.lazy-bg {
  background-image: url(../img/photo.webp);
}
@media (max-width: 1023px) {
  .brand-wrap {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .brands img {
    width: 34%;
  }
  .brands img + img {
    margin-left: 0px;
  }
  .brands img:nth-last-child(2),
  .brands img:last-child {
    margin-top: 45px;
  }
  .brands {
    padding: 80px 0;
  }
}
@media (max-width: 600px) {
  .brands img {
    width: 42%;
  }
  .brands {
    padding: 20px 0;
  }
}
.show-left {
  transform: translateX(-120vw);
  opacity: 0;
  transition: transform 0.8s ease-in, opacity 0.8s ease-in 0.2s;
}
.show-right {
  transform: translateX(120vw);
  opacity: 0;
  transition: transform 0.8s ease-in, opacity 0.8s ease-in 0.2s;
}
.show-left.anim-active,
.show-right.anim-active {
  transform: translateX(0);
  opacity: 1;
}
.brands {
  overflow-x: hidden;
}
.sticky {
  position: fixed;
  top: 0;
  left: 5%;
  right: 5%;
  background-image: linear-gradient(to top, #211b19 0%, #4e3427 100%);
  padding: 15px 10px;
  animation: fix 0.8s;
  border-top: none;
  z-index: 9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@keyframes fix {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
@media (max-width: 600px) {
  .sticky {
    padding: 0 10px;
  }
}
@media (max-width: 600px) {
  .sticky .logo svg {
    transform: scale(0.7);
  }
}
.widget {
  padding: 80px 0;
  background-color: #191919;
}
@media (max-width: 1023px) {
  .widget {
    padding: 50px 0;
  }
}
@media (max-width: 600px) {
  .widget {
    padding: 20px 0;
  }
}
.widget p {
  text-align: left;
  margin-top: 0;
  transition: color 0.25s;
  line-height: 1.5;
}
.widget .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .widget .container {
    flex-wrap: wrap;
  }
}
.widget .logo svg {
  fill: #fff;
}
.widget .logo {
  margin-bottom: 25px;
}
.widget .readmore {
  color: #fff;
  padding-top: 20px;
  display: inline-block;
}
.widget time {
  color: #5e5e5e;
  font: 13px Montserrat-Light;
  transition: color 0.25s;
  margin: 2px 0 8px;
  display: block;
}
.col {
  flex-basis: 270px;
}
@media (min-width: 2100px) {
  .col {
    flex-basis: 400px;
  }
}
@media (max-width: 600px) {
  .col:first-child p {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .col:first-child {
    margin-bottom: 15px;
  }
  .col:first-child .logo span {
    display: block;
  }
}
@media (max-width: 600px) {
  .col {
    flex-basis: 100%;
  }
  .col .readmore {
    text-align: center;
    display: block;
  }
  .col .logo {
    width: 290px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
.col:not(:first-child) {
  margin-top: 25px;
}
.col:last-child {
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .col:last-child {
    flex-shrink: 1;
  }
}
.col + .col {
  margin-left: 30px;
}
@media (max-width: 1023px) {
  .col + .col {
    margin-left: 0;
  }
}
.col:nth-child(3) a {
  color: #00bff3;
  transition: color 0.25s;
}
.col:nth-child(3) a:hover {
  color: #a9a9a9;
}
.col:nth-child(2) .ftr-post {
  position: relative;
}
.col:nth-child(2) .ftr-post:hover time {
  color: #fff;
}
.col:nth-child(2) .ftr-post:hover p {
  color: #c7b299;
}
.col:nth-child(2) .ftr-post a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 1023px) {
  .col {
    flex-basis: 46%;
  }
}
.ftr-cap {
  font: 24px Raleway-Bold;
  color: #fff;
  margin-bottom: 25px;
}
@media (max-width: 600px) {
  .ftr-cap {
    text-align: center;
  }
}
.ftr-post:after {
  background-color: #353535;
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  margin: 19px 0;
}
.ftr-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ftr-pics img {
  width: 47.8%;
}
.ftr-pics img:last-child,
.ftr-pics img:nth-last-child(2) {
  margin-top: 10px;
}
@media (min-width: 2100px) {
  nav .search {
    margin-right: 10px;
  }
}
.touchscreen .copyright a {
  color: #c7b299;
}
.copyright {
  background-color: #111111;
  padding: 40px 0;
  color: #646464;
  font: 14px Montserrat-Light;
}
.copyright span {
  color: #a9a9a9;
}
.copyright a {
  color: inherit;
  transition: color 0.25s;
}
.copyright a:hover {
  color: #c7b299;
}
.copyright .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .copyright .container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1023px) and (max-width: 1023px) {
  .copyright .container .right {
    margin-top: 25px;
  }
}
.right,
.left {
  display: flex;
}
.pseudo:before {
  content: '|';
  display: inline-block;
  padding: 0 10px;
  color: #353535;
}
@media (max-width: 600px) {
  .right,
  .left {
    flex-direction: column;
    align-items: center;
  }
  .right > :last-child,
  .left > :last-child {
    margin-top: 20px;
  }
  .pseudo:first-of-type:before {
    display: none;
  }
  .right .pseudo:before {
    display: none;
  }
}
